<form
  action="/account/profile/password"
  method="POST"
  class="w-full max-w-sm flex flex-col bg-white text-sm p-6 mb-1"
>
  <h1 class="text-center font-bold text-base mb-2"><%= title %></h1>

  <label for="password"> New Password*</label>
  <input
    class="border rounded-full p-2 mb-2"
    id="password"
    name="password"
    type="password"
    maxlength="100"
    required
  />
  <label for="confirmPwd">Confirm New Password*</label>
  <input
    class="border rounded-full p-2 mb-2"
    id="confirmPwd"
    name="confirmPwd"
    type="password"
    maxlength="100"
    required
  />
  <button
    class="bg-red-300 rounded-full p-2 mt-5 text-white text-sm font-semibold"
  >
    Save
  </button>
  <a
    href="/account"
    class="border rounded-full p-2 mt-3 text-center text-gray-400 text-sm font-semibold"
  >
    Cancel
  </a>
</form>
