<form
  action="/account/membership"
  method="POST"
  class="flex flex-col text-center items-center bg-white rounded-lg p-10"
>
  <h1 class="font-bold text-4xl m-5">JOIN THE CLUB</h1>
  <p>Enter the secret passcode to become an elite member!</p>
  <label for="passcode"></label>
  <input
    class="w-3/4 border rounded-full p-2 mt-5"
    id="passcode"
    name="passcode"
    type="text"
    maxlength="100"
  />
  <button
    class="w-3/4 bg-red-300 hover:bg-hoverRed rounded-full p-2 mt-5 text-white text-sm font-semibold"
  >
    Join
  </button>
  <a
    href="/account"
    class="w-3/4 border rounded-full p-2 mt-3 text-center text-gray-400 text-sm font-semibold"
    >I don't know the passcode</a
  >
</form>
