<h1>New Message</h1>
<form action="/new" method="POST">
  <label for="title">Title</label>
  <input id="title" name="title" type="text" required />
  <label for="text">Message</label>
  <textarea id="text" name="text" cols="30" rows="10" required></textarea>
  <button>Post</button>
</form>
